section {
  display: inline-block;
  margin: auto;
  width: 310px;
}

.screenshot {
  box-shadow: 5px 5px 5px #888888;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
  display: block;
  height: 550px;
  width: 100%;
}

#android {
  float: right;
}

#ios .screenshot {
  background-image: url('ios.png');
}

#android .screenshot {
  background-image: url('android.png');
}

.store, .github {
  background-repeat: no-repeat;
  background-size: contain;
  height: 44px;
  width: 148px;
}

#ios .store {
  background-image: url('appstore.svg');
  float: left;
}

#android .store {
  background-image: url('googleplay.svg');
  float: left;
}

.github {
  background-image: url('github.svg');
  float: right;
}
