html {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #e7e7e7 url(bg.png) 0 0 repeat;
  color: #6d6d6d;
}

body {
  background: transparent url(highlight.jpg) 50% 0 no-repeat;
  font-family: Sans-Serif;
  text-align: justify;
  padding: 16px;
  margin: 0px;
}

header, main, footer {
  width: 640px;
  margin: auto;
}

header {
  background-image: url('freeotp.png');
  background-repeat: no-repeat;
  background-size: 96px 96px;
  display: block;
  height: 128px;
}

header h1 {
  text-shadow: 2px 2px LightGrey;
  padding-left: 112px;
  padding-top: 12px;
  font-size: 34pt;
  color: black;
  margin: 0px;
}

header p {
  padding-bottom: 10px;
  padding-left: 112px;
  margin: 0px;
}

header::after, footer::before {
  background: url("hr.png");
  margin-bottom: 16px;
  margin-top: 16px;
  display: block;
  width: 100%;
  height: 1px;
  content: "";
}

section {
  display: inline-block;
  margin: auto;
  width: 310px;
}

a {
  text-decoration: none;
  color: #d5000d;
}

a:hover {
  color: #c5000c;
}

.screenshot {
  box-shadow: 5px 5px 5px #888888;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
  display: block;
  height: 550px;
  width: 100%;
}

#android {
  float: right;
}

#ios .screenshot {
  background-image: url('ios.png');
}

#android .screenshot {
  background-image: url('android.png');
}

.store, .github {
  background-repeat: no-repeat;
  background-size: contain;
  height: 44px;
  width: 148px;
}

#ios .store {
  background-image: url('appstore.svg');
  float: left;
}

#android .store {
  background-image: url('googleplay.svg');
  float: left;
}

.github {
  background-image: url('github.svg');
  float: right;
}
