a {
  color: var(--bs-body-color) !important;
  text-decoration: none !important;
}

a.btn:hover {
  text-decoration: none !important;
}

a:hover {
  color: var(--bs-link-hover-color) !important;
  text-decoration: underline !important;
}

header {
  z-index: 1;
}

#logo {
  height: 48px;
}

main {
  padding-top: 75px;
}

footer * {
  color: var(--bs-secondary-color);
}