table,
button,
select,
label,
input[type="range"],
input[type="text"] {
  width: 100%;
}

main {
  text-align: center;
  margin: auto;
}

#urilink {
  display: inline-block;
  margin: 0 auto 0.5em auto;
}

#qrcode {
  position: relative;
  max-width: 256px;
  display: block;
}

#qrcode img:last-child {
  height: 100%;
  width: 100%;
}

#preview {
  position: absolute;
  padding: calc(100% / 3);
  height: calc(100% / 3);
  width: calc(100% / 3);
  left: 0;
  top: 0;
}

#digits-display {
  text-align: left;
  width: 2em;
}

.shrink {
  width: 1%;
}

input[type="text"].error {
  border-color: var(--bs-warning);
}