#urilink {
  width: fit-content;
}

#qrcode {
  position: relative;
  max-width: 256px;
  display: block;
}

#preview {
  position: absolute;
  padding: calc(100% / 3);
  height: calc(100% / 3);
  width: calc(100% / 3);
}

#qrcode img:last-child {
  height: 100%;
  width: 100%;
}

input[type="text"].error {
  border-color: var(--bs-warning);
}