.col:first-child:not(.only-child) {
  padding-right: .5rem;
}

.col:last-child:not(.only-child) {
  padding-left: .5rem;
}

#urilink {
  width: fit-content;
}

#urilink :is(*, ::after, ::before) {
  box-sizing: unset;
}

#qrcode {
  position: relative;
  display: block;
}

#preview {
  position: absolute;
  padding: calc(100% / 3);
  height: calc(100% / 3);
  width: calc(100% / 3);
}

#qrcode img:last-child {
  height: 100%;
  width: 100%;
}

#secret-div input {
  text-overflow: ellipsis;
}

@media (max-width: 500px) {

  #algorithm-div,
  #digits-div,
  #image-div {
    display: none;
  }
}